<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/styles/all.css" />
    <link rel="stylesheet" href="../static/styles/attraction.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
    </style>
    <script
      src="../static/script/attractions.js"
      type="text/javascript"
    ></script>
    <script src="../static/script/signIn.js" type="text/javascript"></script>
    <script src="../static/script/booking.js" type="text/javascript"></script>
    <title>景點介紹</title>
  </head>
  <body onload="getAttraction();signInOrNot() ">
    <header>
      <div id="fixed">
        <div id="Navigation">
          <div id="nav-content">
            <div id="title-text" onclick="toHome()">台北一日遊</div>
            <div id="nav-btns">
              <button id="reservation-btn" onclick="signInBooking()">
                預定行程
              </button>
              <button id="register-btn" onclick="signInBtn()">登入/註冊</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div id="attractionInfo">
        <div id="signBox">
          <div id="signIn">
            <div class="signInBar"></div>
            <div class="cancel" onclick="cancel()"></div>
            <div class="signInTitle">登入會員帳號</div>
            <form action="/" onsubmit="return false">
              <input
                type="text"
                id="signInEmail"
                class="email"
                name="signInEmail"
                placeholder="輸入電子信箱"
              />
              <input
                type="password"
                id="signInPassword"
                class="password"
                name="signInPassword"
                placeholder="輸入密碼"
              />
              <button type="button" onclick="signIn()" id="signIn-btn">
                登入帳戶
              </button>
            </form>
            <div id="signInMessage"></div>
            <div class="leadToSignUp">
              <div class="noAccount">還沒有帳戶？</div>
              <div class="SignUpLink" onclick="toSignUp()">點此註冊</div>
            </div>
          </div>

          <div id="signUp">
            <div class="signInBar"></div>
            <div class="cancel" onclick="cancel()"></div>
            <div class="signInTitle">註冊會員帳號</div>
            <form action="/" onsubmit="return false" id="signUpForm">
              <input
                type="text"
                id="signUpName"
                class="name"
                name="signUpName"
                placeholder="輸入姓名"
              />
              <input
                type="text"
                id="signUpEmail"
                class="email"
                name="signUpEmail"
                placeholder="輸入電子信箱"
              />
              <input
                type="password"
                id="signUpPassword"
                class="password"
                name="signUpPassword"
                placeholder="輸入密碼"
              />
              <button type="button" onclick="signUp()" id="signIn-btn">
                註冊新帳戶
              </button>
            </form>
            <div id="signUpMessage"></div>
            <div class="leadToSignUp">
              <div class="noAccount">已經有帳戶了？</div>
              <div class="SignUpLink" onclick="toSignUp()">點此登入</div>
            </div>
          </div>
        </div>
        <div id="topInfo">
          <div id="imgScreen">
            <div id="slider">
              <div id="sliderMain"></div>
              <div onclick="next()" id="next"></div>
              <div onclick="prev()" id="prev"></div>
              <div id="indexAdjust">
                <div id="index"></div>
              </div>
            </div>
          </div>
          <div id="textInfo">
            <div id="nameInfo"></div>
            <div id="catInfo"></div>
            <div id="bookingInfo">
              <div id="bookingTitle">訂單導覽行程</div>
              <div id="bookingIntro">
                以此景點為中心的一日行程，帶您探索城市角落故事
              </div>
              <form action="/" onsubmit="return false">
                <div id="date">
                  選擇日期：<input type="date" id="chooseDate" />
                </div>
                <br />
                <div id="time">
                  選擇時間：

                  <label
                    ><input
                      type="radio"
                      name="time"
                      id="上半天"
                      class="chosenTime"
                      value="上半天"
                      onclick="morning()"
                    />上半天</label
                  >
                  <label
                    ><input
                      type="radio"
                      name="time"
                      id="下半天"
                      class="chosenTime"
                      value="下半天"
                      onclick="afternoon()"
                    />下半天</label
                  >
                </div>
                <div id="fee">
                  <div id="feeTitle">導覽費用：</div>
                  <div id="feeCount"></div>
                </div>
                <button type="button" id="startTrip" onclick="startBooking()">
                  開始預約行程
                </button>
              </form>
            </div>
          </div>
        </div>
        <hr />
        <div id="bottomInfo">
          <div id="description"></div>
          <div id="addressInfo">
            <div id="addressTitle">景點地址：</div>
            <div id="address"></div>
          </div>
          <div id="transportInfo">
            <div id="transportTitle">交通方式：</div>
            <div id="transport"></div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer">
      <div id="footerDiv">COPYRIGHT © 2022 台北一日遊</div>
    </footer>
    <script></script>
  </body>
</html>
