<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/styles/all.css" />
    <link rel="stylesheet" href="../static/styles/thankyou.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
    </style>

    <script src="../static/script/signIn.js" type="text/javascript"></script>

    <title>付款成功</title>
  </head>
  <body onload=" signInOrNotForBookingPage()">
    <header>
      <div id="fixed">
        <div id="Navigation">
          <div id="nav-content">
            <div id="title-text" onclick="toHome()">台北一日遊</div>
            <div id="nav-btns">
              <button id="reservation-btn" onclick="location.reload()">
                預定行程
              </button>
              <button id="register-btn" onclick="signInBtn()">登入/註冊</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="main">
      <div id="paidSuccess">
        <div id="paidSuccessTitle">
          付款成功
          <br />
          您的訂單編號如下：
        </div>
        <div id="paidSuccessMessage">
          <div id="orderNumber">111234564555556</div>

          請記住此編號，或至會員中心查詢歷史訂單
          <a href="/">回首頁</a>
        </div>
      </div>
    </main>
    <footer id="footer">
      <div id="footerDiv">COPYRIGHT © 2022 台北一日遊</div>
    </footer>
    <script>
      const url = location.href;
      const params = new URLSearchParams(new URL(url).search);
      const number = params.get("number");

      const orderNumber = document.getElementById("orderNumber");
      orderNumber.textContent = number;
    </script>
  </body>
</html>
