html body {
  margin: 0;
  width: 100%;
}

#fixed {
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  justify-items: center;
  width: 100%;
}

#Navigation {
  width: 100%;
  height: 54px;

  display: flex;
  align-items: center;
  background: #ffffff;
}

#nav-content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title-text {
  margin: 0;
  width: 150px;
  height: 34px;
  align-items: center;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

  color: #448899;
}

#reservation-btn {
  width: 64px;
  height: 14px;

  white-space: nowrap;
  border: 0;
  background: none;
  color: #666666;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
}

#register-btn {
  width: 71px;
  height: 14px;
  white-space: nowrap;
  border: 0;
  background: none;
  color: #666666;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;

  color: #666666;
}

button:hover {
  cursor: pointer;
}

#welcome-img {
  position: absolute;
  top: 54px;
  width: 100%;
  height: 320px;

  background: url("../pic/[orig]\ welcome\ image.png") no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

#welcome-content {
  width: 1200px;
  margin: 0 auto;
}

#welcome-title {
  margin: 0;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  color: #f8f8f8;
  text-shadow: 0px 0px 30px #aabbcc;
}

#welcome-text {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;

  color: #f8f8f8;
}

#search-input {
  width: 400px;
  height: 46px;
  background: #ffffff;
  border: none;
  vertical-align: top;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;

  color: #757575;
}

#search-btn {
  width: 60px;
  height: 48px;
  background: #448899;
  border: none;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  vertical-align: top;
}

#category {
  display: none;
}

.categoryList {
  position: absolute;
  top: 225px;
  z-index: 999;
  width: 400px;
  height: 162px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: 0px 0px 20px #aabbcc;
  border-radius: 5px;

  background: #ffffff;
}

.cat {
  width: 120px;
  height: 40px;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  color: #000000;
}

.cat:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

#mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

#attractions {
  margin-top: 400px;

  display: grid;
  grid-template-columns: 310px 310px 310px 270px;
  grid-auto-rows: 272px;

  width: 1200px;
}

.attraction {
  width: 270px;
  height: 242px;
  padding: 0;
  position: relative;
  border: 0.5px solid;
  border-color: rgba(169, 169, 169, 0.5);
  border-radius: 2%;
}

.attractionImg {
  width: 270px;

  height: 197px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.attractionName {
  position: absolute;
  top: 157px;

  display: flex;

  align-items: center;
  width: 270px;
  height: 40px;

  background: #000000;
  opacity: 0.6;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  text-indent: 10px;

  color: #ffffff;
}

.attractionDetail {
  position: absolute;
  top: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 45px;

  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;

  color: #757575;
}

.attractionMRT {
  text-indent: 10px;
  letter-spacing: 1px;
}

.attractionCat {
  text-indent: 10px;
  letter-spacing: 1px;
  position: absolute;
  right: 10px;
}

#footer {
  width: 100%;
  height: 104px;
  background: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerDiv {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  #Navigation {
    width: 100%;
  }

  #nav-content {
    width: 98%;
    justify-content: space-between;
  }

  #welcome-title {
    max-width: max-content;
    margin-left: 10px;
    text-align: center;
  }

  #welcome-text {
    max-width: max-content;
    margin-left: 10px;
    text-align: center;
  }

  form {
    max-width: max-content;
    margin-left: 10px;
  }

  #attractions {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .attraction {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  #Navigation {
    width: 100%;
  }

  #welcome-title {
    margin: 0 auto;
    text-align: center;
  }

  #welcome-text {
    margin: 13px auto;
    text-align: center;
  }

  form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #search-input {
    width: 230px;
  }

  #mainContent {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #attractions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 360px;
  }

  .attraction {
    margin-bottom: 15px;
  }
}
